body{
    background-color: salmon;

}

#StardewValley{
    color: orangered;
    border: 5px solid yellow;
    background-color: burlywood;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    width: 200px;
    padding-bottom: 15px;
}

.images{
    border: 5px solid brown;
    background-color: bisque;
    text-align: center;
    padding: 10px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 400px
}