body{
    background-color: black;
}

#bg{
    background-color: darkviolet;
    animation: bgColorAnimation 3s infinite alternate;
}

#wrapper{
    text-align: center;
    padding: 5px;
}

.boarder-unity{
    border: 6px dotted black;
    margin: 15px;
    
}

#header{
    background-color: darkslateblue;
   

}

.gds{
    background-color: black;
    padding: 5px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: fit-content;
    
}

#hello{
    font-family: lucida handwriting;
    font-style: italic;
    text-decoration: underline wavy 2px;
    text-underline-offset: 6px;
    color: darkviolet;
    animation-name: textAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.border-unity{
    border: 4px dashed darkblue;
    margin: 15px;
    padding:10px;
}

#nav-bar{
    width: 250px;
    margin: auto;
    background-color: darkslateblue;
}

#nav-bar:hover{
    width: 50%;
}

.btn-container{
    background: darkviolet;
    width: 235px;
    margin: auto;
}

.buttonThing{
    background-color: black;
    color: darkviolet;
    font-family: lucida handwriting;
    font-size: x-small;
    margin-bottom: 3px;
}

.buttonThing:hover{
    width: 25%;
    background-color: darkslateblue;
    color: white;
}

.buttonThing:active{
    background-color: white;
    color: black;
}

#main-content{
    background-color: black;
}

#main-content:hover{
    background-color: darkviolet;
    width:97%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#pictureDiv{
    background-image:url(../Images/shapes.png);
    background-size: cover;
    background-position: center center;
    height: 800px;
    width: 800px;
    margin: auto;
  
}

@keyframes textAnimation{
    0%{
        color: darkviolet;
        
    }
    50%{
        color: violet;
       
    }
    100%{
        color: blueviolet;
        
    }
}

@keyframes bgColorAnimation {
    from{
        background-color: darkviolet;
    }
    to{
        background-color: darkcyan; 
    }
}